<!DOCTYPE html>

<html lang='zh-CN'>
<head>

  <%%= yield :meta %>

  <title><%%= yield :title %></title>

  <%%= hyper_text_style :'animate.css' => true, :buttons => true, :'font-awesome' => true %>
  <%%= bootstrap_style  :bootstrap => true, :'bootstrap-theme' => true, :'bootstrap-datepicker' => true, :'bootstrap-table' => true, :'bootstrap-fileinput' => true %>
  <%%= render partial: 'shared/style' %>
  <%%= render partial: '<%= @platform_name %>/<%= @version_name %>/shared/style' %>

  <%%= yield :style %>

  <%%= csrf_meta_tags %>

</head>
<body>

  <%%= yield %>

  <%%= hyper_text_script jquery: true, modernizr: true %>
  <%%= bootstrap_script  :bootstrap => true, :'bootstrap-datepicker' => true, :'bootstrap-fileinput' => true, :'bootstrap-table' => true, :buttons => true %>
  <%%= render partial: 'shared/script' %>
  <%%= render partial: '<%= @platform_name %>/<%= @version_name %>/shared/script' %>

  <%%= javascript_include_tag 'application' %>
  <%%= yield :script %>

</body>
</html>
