<!DOCTYPE html>

<html lang='zh-CN'>
<head>

  <%%= yield :meta %>

  <title><%%= yield :title %></title>

  <%%= hyper_text_style :'animate.css' => true, :buttons => true, :'font-awesome' => true %>
  <%%= bootstrap_style  :bootstrap => true, :'bootstrap-theme' => true, :'bootstrap-datepicker' => true, :'bootstrap-table' => true, :'bootstrap-fileinput' => true %>
  <%%= render partial: 'shared/style' %>
  <%%= render partial: '<%= @platform_name %>/<%= @version_name %>/shared/style' %>

  <%%= yield :style %>

  <%%= csrf_meta_tags %>

</head>

<body>

  <div class="jumbotron"><div class="container"><%%= render partial: 'shared/header' %></div></div>
  <div class="container"><%%= render partial: 'shared/navigation_bar' %></div>

  <div class="container">

    <aside class="col-xs-12 col-lg-3"><%%= render partial: 'shared/side_menu' %></aside>

    <main class="col-xs-12 col-lg-9">

      <div><%%= render partial: 'shared/alert' %></div>
      <div class="page-header"><h1 class="page-header"><%%= params[:controller].classify.constantize.model_name.human %><%%= t "scaffold.action.#{params[:action]}" %></h1></div>

      <%%= yield %>

    </main>

  </div>

  <div class="jumbotron"><div class="container"><%%= render partial: 'shared/footer' %></div></div>

  <%%= hyper_text_script jquery: true, modernizr: true %>
  <%%= bootstrap_script  :bootstrap => true, :'bootstrap-datepicker' => true, :'bootstrap-fileinput' => true, :'bootstrap-table' => true, :buttons => true %>
  <%%= render partial: 'shared/script' %>
  <%%= render partial: '<%= @platform_name %>/<%= @version_name %>/shared/script' %>

  <%%= javascript_include_tag 'application' %>
  <%%= yield :script %>

</body>
</html>
