<footer class="row">
    <ul class="us">
        <li class="col-xs-3">
            <h3>单位</h3>
            <ul class="list">
                <li><a href="/about_us" target="_blank">关于我们</a></li>
                <li><a href="/org" target="_blank">组织结构</a></li>
            </ul>
        </li>
        <li class="col-xs-3">
            <h3>支持</h3>
            <ul class="list">
                <li><a href="/help" target="_blank">帮助中心</a></li>
                <li><a href="/feedback" target="_blank">在线反馈</a></li>
            </ul>
        </li>
        <li class="col-xs-3">
            <h3>联系我们</h3>
            <ul class="list">
                <li><a href="tel:4006666666">400-666-6666</a></li>
                <li><a href="mailto:support@6666.com">support@6666.com</a></li>
                <li><address>四川省 成都市 高新区</address></li>
                <li>成都 | 北京 | 上海 | 广州 | 深圳 | 重庆 | 大连 | 西安 | 武汉 </li>
<!--
                <li>
                    <div class="share" style="padding-top: 15px;">
                        <div class="wechat">
                            <img class="share-img" id="wechat" src="https://dn-coding-net-production-static.qbox.me/static/66e6c7fa419f064ad521e645f1d9e399.png">
                            <div class="dropdown up">
                                <img src="https://dn-coding-net-production-static.qbox.me/static/fcdf6ecd90f6022d143a5e06fbe391b8.jpg" alt="Coding 微信公众号二维码">
                            </div>
                        </div>
                        <a href="http://weibo.com/n/coding" target="_blank" style="padding-left: 20px;">
                            <img class="share-img" src="https://dn-coding-net-production-static.qbox.me/static/1ce58933cb197c1f0d08eaa090469895.png">
                        </a>
                    </div>
                </li>
-->
            </ul>
        </li>
    </ul>

    <div class="record col-xs-3">
        <div class="record_img_info">
<!--
            <a href="/index"><img src="https://dn-coding-net-production-static.qbox.me/static/47572b5d56a0c76fa79c25c0a08776e2.png" style="position: absolute;" width="353" height="36"></a>
-->
            <div class="record_info">
            <p>
                <a href="/privacy" target="_blank">隐私策略</a> |
                <a href="/terms" target="_blank">服务条款</a> |
                <a href="/security" target="_blank">安全策略</a>
            </p>
            <p>
                <a href="/">© 2017 </a> |
                <a href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备16666666号-1</a>
            </p>
        </div>
        </div>
    </div>

</footer>
